<!-- main  -->
<div class=row>
  <div class="col col-xs-12">

    <div class="form-group">
      <label for="name">accountKey</label>
      <input type="text" class="form-control" id="accountKey" name="accountKey" value="<%= account.accountKey %>" required>
    </div>

    <div class="form-group">
      <label for="description">description</label>
      <input type="text" class="form-control" id="description" name="description" value="<%= account.description %>">
    </div>

    <div class="form-group">
      <label for="balance">balance</label>
      <input onchange="onFormChange()" type="number" class="form-control" id="balance" name="balance" value="<%= account.balance %>" required>
    </div>
  </div>
</div>


<!-- PUT CLIENT SIDE CODE HERE -->
<script>  

  // function toCurrency(amount) 
  // https://gist.github.com/kylefox/780065
  function toCurrency(amount) {
    return "$" + amount.toFixed(2);
  };

  // function toCurrencyInt(amount) 
  function toCurrencyInt(amount) {
    return "$" + amount.toFixed(0);
  };

  // Add  .toCurrency() method to all Numbers
  Number.prototype.toCurrency = function () {
    return toCurrency(this);
  };

  // Add  .toCurrencyInt() method to all Numbers
  Number.prototype.toCurrencyInt = function () {
    return toCurrencyInt(this);
  };

  function onFormChange() {
    const val = parseFloat($("input[name=unitPrice]").val());
    let price = 75
    if (val == 1) {
      price = 100
    }
    $("#unitPrice").html(price.toCurrencyInt());
  }

  // window.onload = a function that will call all update functions to display calculated values
  window.onload = function () {
    onFormChange();
  }

  // prevent submission when hitting enter key - optional, but user-friendly 
  document.forms[0].onkeypress = function (e) {
    var key = e.charCode || e.keyCode || 0;
    if (key == 13) {
      e.preventDefault();
    }
  }

// END CLIENT SIDE CODE  (close the script tag)
</script>