</br>
</br>
<hr>
</br>
<footer class="footer">
  <div class="container">
    <p>&copy;2019</p>
<h4>LINK FOR THE HOSTED APP</h4>

    <a href="https://bitbucket.org/rajesh151/node-express-mvc-ejs-start/src/master/">https://bitbucket.org/rajesh151/node-express-mvc-ejs-start/src/master/</a>




    <p class="text-muted"><a href="https://bitbucket.org/professorcase/node-express-mvc-ejs-start">Repository</a></p>
  </div>
</footer>