

<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <br>
      <h1>Home page</h1>
      <br>
      <h3>RAJESH KAMMARI-USER RESOURCE</h3>
      <hr>
      <h3>API TESTER FOR USER RESOURCE - RAJESH KAMMARI </h3>
      <br>

      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="http://localhost:8089/user/findall">http://localhost:8089/user/findall</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/919577504">http://localhost:8089/user/findone/919577504</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/user">http://localhost:8089/user</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/create">http://localhost:8089/user/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/user/edit/919577504">http://localhost:8089/user/edit/919577504</a>
        </li>
        
        <li>
          <a href="http://localhost:8089/user/delete/919563768">http://localhost:8089/user/delete/919563768</a>
        </li>
        
        <li>
          <a href="http://localhost:8089/user/details/919577504">http://localhost:8089/user/details/919577504</a>
        </li>
        
      </ol>
<<<<<<< HEAD
=======
<<<<<<< HEAD
      <hr>
      
=======
>>>>>>> 9555fed2319aa9af62cc598c3a4bc10057046737
      <h3>API TESTER FOR ACCOUNT RESOURCE - BHUVANESH NAKKA </h3>
      <br>

      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="http://localhost:8089/account/findall">http://localhost:8089/account/findall</a>
        </li>
        <li> <a href="http://localhost:8089/account/findone/10">http://localhost:8089/account/findone/10</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/account">http://localhost:8089/account</a>
        </li>
        <li>
          <a href="http://localhost:8089/account/create">http://localhost:8089/account/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/account/edit/10">http://localhost:8089/account/edit/10</a>
        </li>
        
        <li>
          <a href="http://localhost:8089/account/delete/10">http://localhost:8089/account/delete/10</a>
        </li>
        
        <li>
          <a href="http://localhost:8089/account/details/10">http://localhost:8089/account/details/10</a>
        </li>
       </ol>
<<<<<<< HEAD
=======
>>>>>>> f0d65ebeffc96a87554cc83584ed873c2d4129e5
>>>>>>> 9555fed2319aa9af62cc598c3a4bc10057046737
    </div>
  </div>
</div>