<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1> Rajesh Kammari </h1>

      <h4>MY LINKEDIN PAGE</h4>
      <a href="https://www.linkedin.com/in/rajesh-kammari-03b135a2/" target="_blank">https://www.linkedin.com/in/rajesh-kammari-03b135a2/</a>

      <h4>MY DEVELOPER PAGE</h4>
      <a href="https://rajeshoo7.github.io/aboutme/" target="_blank">https://rajeshoo7.github.io/aboutme/</a>

  <h3>API TESTER FOR USER RESOURCE- RAJESH KAMMARI</h3>

  <br>
  

      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="http://localhost:8089/user/findall">http://localhost:8089/user/findall</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/919577504">http://localhost:8089/user/findone/919577504</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/user">http://localhost:8089/user</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/create">http://localhost:8089/user/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/user/edit/919577504">http://localhost:8089/user/edit/919577504</a>
        </li>
        
        <li>
          <a href="http://localhost:8089/user/delete/919563768">http://localhost:8089/user/delete/919563768</a>
        </li>
        
        <li>
          <a href="http://localhost:8089/user/details/919577504">http://localhost:8089/user/details/919577504</a>
        </li>
        
      </ol>
      

      <br>
      <br>
    </div>
  </div>
</div>